scopeName : 'source.g-code';
name: 'G-Code'
fileTypes: [
  'i', # generic nc program
  'nc', # generic nc program
  'mpf', # sinumerik main program
  'spf', # sinumerik sub programm
  'ncs', # CNCpilot or ManualPlus
]

foldingStartMarker: 'UNIT'
foldingStopMarker: 'END_OF_UNIT'
limitLineLength: false

patterns: [
    {
      comment: 'line number'
      match: '^N\\s*\\d+'
      name: 'comment.line.g-code'
    },
    {
      comment: 'comment until the end of the line'
      match: ';(.*)$'
      name: 'comment.line.g-code'
    },
    {
      comment: 'comment'
      match: '(\\(.*\\))$'
      name: 'comment.line.g-code'
    },
    {
        comment: 'commented out line'
        match: '^(/N\\d+)\\s+(.*)$'
        name: 'comment.block.g-code'
    },
    {
        comment: 'program meta info'
        match: '^#(.*)$'
        name: 'comment.block.g-code'
    },
    {
        comment: 'line termination'
        match: '\\*$'
        name: 'comment.line.g-code'
    },
    {
        comment: 'program name'
        match: '(%)([\\w\\d_]+(?:(?:\\.nc)|(?:\\.NCS))?)(\\s+\\".*\\")?'
        captures:
            1:
                name: 'keyword.control.g-code'
            2:
                name: 'variable.string.g-code'
            3:
                name: 'constant.string.g-code'
    },
    {
        comment: 'tool call'
        match: '\\b(T)(?:(=)(\\".*\\"))|(\\d+(?:\\.\\d+)?)\\b'
        captures:
            1:
                name: 'keyword.control.g-code'
            2:
                name: 'keyword.control.g-code'
            3:
                name: 'constant.string.g-code'
            4:
                name: 'constant.numeric.g-code'
    },
    {
      comment: 'Ingeger Values: g-command'
      match: '\\b(G)(\\d+)\\b'
      captures:
        1:
          name: 'keyword.control.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'Ingeger Values: machin function, spindle speed, radius, l, p'
      match: '\\b([GMSRLPQHVDWC])(\\d+)\\b'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'Float Values: feed rate'
      match: '\\b([FB])(\\d+(?:\\.\\d+)?)\\b'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'Signed Float Values:'
      match: '\\b([P])([\\+-]?\\d+(?:\\.\\d+)?)\\b'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'cartesian coordinate'
      match: '\\b([XYZ])([\\+-]?\\d+(?:\\.\\d+)?)\\b'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'circle center offset'
      match: '\\b([IJK])([\\+-]?\\d+(?:\\.\\d+)?)\\b'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'Keywords: groups'
      match: '\\b((?:UNIT)|(?:END_OF_UNIT))\\b'
      captures:
        1:
          name: 'keyword.control.g-code'
    },
    {
      comment: 'Keywords: CNCpilot od ManualPlus German'
      match: '\\b((?:PROGRAMMKOPF)|(?:REVOLVER)|(?:ROHTEIL)|(?:FERTIGTEIL)|(?:BEARBEITUNG))\\b'
      captures:
        1:
          name: 'keyword.control.g-code'
    },
    {
      comment: 'Keywords: GLOBAL'
      match: '\\b((?:ENDE)|(?:RETURN))\\b'
      captures:
        1:
          name: 'keyword.control.g-code'
    },
    {
      comment: 'Keywords: Flow control - Part1'
      match: '\\b((?:IF)|(?:THEN)|(?:ELSE)|(?:ENDIF)|(?:WHILE)|(?:ENDWHILE)|(?:FOR)|(?:TO)|(?:bENDFOR))\\b'
      captures:
        1:
          name: 'keyword.control.g-code'
    },
    {
      comment: 'Keywords: Flow control - Part2'
      match: '\\b((?:SWITCH)|(?:CASE)|(?:ENDSWITCH)|(?:BREAK)|(?:DEFAULT))\\b'
      captures:
        1:
          name: 'keyword.control.g-code'
    },
]
