scopeName : 'source.g-code';
name: 'G-Code'
fileTypes: [
  'i'
  'nc'
]

# firstLineMatch: '^(%|\\(DFS)(.*)(\\*|RWED\\))$'
foldingStartMarker: ''
foldingStopMarker: ''
limitLineLength: false

patterns: [
    {
      comment: 'line number'
      match: '^N\\s*\\d+'
      name: 'comment.line.g-code'
    },
    {
      comment: 'comment until the end of the line'
      match: ';(.*)$'
      name: 'comment.line.g-code'
    },
    {
      comment: 'comment'
      match: '(\\(.*\\))$'
      name: 'comment.line.g-code'
    },
    {
        comment: 'commented out line'
        match: '^(/N\\d+)\\s+(.*)$'
        name: 'comment.block.g-code'
    },
    {
        comment: 'program head'
        match: '(\\(DFS,)(.*)(,RWED\\))$'
        captures:
            1:
                name: 'base.constant'
            2:
                name: 'base.string'
            3:
                name: 'base.constant'
    },
    {
        comment: 'message output'
        match: '(\\(\\*MSG,)(.*)(\\))$'
        captures:
            1:
                name: 'base.constant'
            2:
                name: 'base.string'
            3:
                name: 'base.constant'
    },
    {
        comment: 'line termination'
        match: '\\*$'
        name: 'comment.line.g-code'
    },
    {
        comment: 'program name'
        match: '(%)([\\w\\d_]+)'
        captures:
            1:
                name: 'base.constant'
            2:
                name: 'base.string'
    },
    {
        comment: 'tool call'
        match: '(T)(\\d*.\\d+)'
        captures:
            1:
                name: 'keyword.control.g-code'
            2:
                name: 'constant.numeric.g-code'
    },
    {
      comment: 'g-command'
      match: '(G)(\\d+)'
      captures:
        1:
          name: 'keyword.control.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'machine function'
      match: '(M)(\\d+)'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'feedrate'
      match: '(F)(\\d+)'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'spindle speed'
      match: '(S)(\\d+)'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'dwell time'
      match: '(P)(\\d+)'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'radius value'
      match: '(R)(\\d+)'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'cartesian coordinate'
      match: '([XYZ])([\\+-]?\\d+(?:\\.\\d+)?)'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
    {
      comment: 'circle center offset'
      match: '([IJK])([\\+-]?\\d+(?:\\.\\d+)?)'
      captures:
        1:
          name: 'keyword.operator.g-code'
        2:
          name: 'constant.numeric.g-code'
    },
]
